body {
    font-family: Arial, sans-serif;
    background-color: #053b03;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: rgb(254, 254, 254);
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #080101;
    padding: 5px;
    border-radius: 5px;
}

.cell {
    background-color: #ddd;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #fb7e7e;
}

.status {
    margin-top: 20px;
    font-size: 1.2em;
}

.restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: #0056b3;
}